From: Dundie <{{ sender }}>
To: {{ to }}
Subject: Password Reset for Your Dundie Account

Dear {{ recipient }},

You have requested to reset your Dundie account password. To complete the process, please use the following link within the next {{ expire }} minutes:

Reset Password Link: {{ url }}?rt={{ pwd_reset_token }}

If you did not initiate this request, please disregard this email. Your account security is important to us.

Best regards,
The Dundie Team